<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <a class="logo"><b>Admin</b></a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image" />
              <span class="hidden-xs">Admin</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-footer">

                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
          <p>Admin</p>

          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a onclick="goHome()">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="active treeview">
          <a onclick="goToProduct()">
            <i class="fa fa-dashboard"></i> <span>Product</span></i>
          </a>
        </li>
        <li class="active treeview">
          <a onclick="goToCategory()">
            <i class="fa fa-dashboard"></i> <span>Category</span></i>
          </a>
        </li>
        <li class="active treeview">
          <a onclick="goToVoucher()">
            <i class="fa fa-dashboard"></i> <span>Voucher</span>
          </a>
        </li>
        <li class="active treeview">
          <a onclick="goToCart()">
            <i class="fa fa-dashboard"></i> <span>Order</span>
          </a>
        </li>
         <li class="active treeview">
          <a onclick="goToStatistical()">
            <i class="fa fa-dashboard"></i> <span>Statistical</span>
          </a>
        </li>
        <li class="active treeview">
          <a onclick="goToAdmin()">
            <i class="fa fa-dashboard"></i> <span>Admin</span>
          </a>
        </li>
        <li class="active treeview">
          <a onclick="goToUser()">
            <i class="fa fa-dashboard"></i> <span>User</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <!-- Right side column. Contains the navbar and content of the page -->
  <div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-sm-6">
          <h2>Category</h2>
        </div>
        <div class="col-sm-6 text-right">
          <button type="button" class="btn btn-primary" onclick="goToNewCategory()">AddNew</button>
        </div>
      </div>
      <form action="#" method="get" class="input-group sidebar-form">
        <div class="input-group">
          <input type="text" id="key" name="key" class="form-control" placeholder="Search..." />
          <span class="input-group-btn">
            <button onclick="search()" class="btn btn-success">Search</button>
          </span>
        </div>
      </form>
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>Stt</th>
            <th>Name</th>
            <th>Images</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each categories}}
          <tr class="text-center">
            <td>{{ soThuTu @index}}</td>
            <td>{{ this.name}}</td>
            <td><img width="200" height="130" src="{{ this.image}}"></td>
            <td class="text-center">
              <button onclick="goToEditCategory('{{this._id}}')" type="button" class="btn btn-warning">Edit</button>
              <button type="button" onclick="goDelete('{{this._id}}')" data-toggle="modal" data-target="#modal"
                class="btn btn-danger">Remove</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </section><!-- /.content -->
    {{!-- modal --}}
    <div class="modal" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Xóa Thể Loại</h3>
          </div>
          <div class="modal-body">
            <div class="panel-body">
              <h5>Bạn có chắc muốn xóa??</h5>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="onDelete()" class="btn btn-primary">Yes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- ./wrapper -->
  </div>
  <script>
    let deleted_id;
    const goHome = () => {
      window.location.href = '/dashboard'
    }
    const goToProduct = () => {
      window.location.href = '/product'
    }
    const goToNewProduct = () => {
      window.location.href = '/product/add-product'
    }
    const goToNewCategory = () => {
      window.location.href = '/category/add-category'
    }
    const goToEditCategory = (id) => {
      window.location.href = `/category/${id}/edit`
    }
    const goDelete = (id) => {
      deleted_id = id;
    }
    const fechAPI = async (url, option) => {
      const res = await fetch(url, option);
      return res.json();
    }
    const onDelete = async () => {
      const url = `http://localhost:3000/category/${deleted_id}`;
      const option = {
        method: 'delete',
        headers: { 'Content-Type': 'application/json' }
      }
      try {
        await fechAPI(url, option);
        window.location.href = '/category';
      } catch (e) {
        console.log('Delete error: ', e);
      }
    }
    const goToAdmin = () => {
      window.location.href = '/adminmanager'
    }
    const goToUser = () => {
      window.location.href = '/usermanager'
    }
    const goToCart = () => {
      window.location.href = '/order'
    }
    const goToVoucher = () => {
      window.location.href = '/voucher'
    }
    const goToStatistical = () =>{
      window.location.href = '/statistical'
    }
    function search() {
      let value = document.getElementById('key').value;
      $.ajax({
        type: "GET",
        url: '/category/search/' + value,
        success: function (data) {
          window.location.href = '/category/search/' + value
        }
      });
    }
  </script>